/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4652762 */
  src: url('font_4652762_fpb6m6m66wr.woff2?t=1723599160424') format('woff2'),
  url('font_4652762_fpb6m6m66wr.woff?t=1723599160424') format('woff'),
  url('font_4652762_fpb6m6m66wr.ttf?t=1723599160424') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuangtaiguanli:before {
  content: "\ebd1";
}

.icon-xitongrizhi:before {
  content: "\e627";
}

.icon-rizhiguanli:before {
  content: "\e715";
}

.icon-yuyanshezhi:before {
  content: "\e60a";
}

.icon-denglurizhi:before {
  content: "\e69d";
}

.icon-code:before {
  content: "\e615";
}

.icon-zhongzhi:before {
  content: "\e604";
}

.icon-caozuorizhi:before {
  content: "\e69c";
}

.icon-zhuangtaifenlei:before {
  content: "\e66b";
}

.icon-zhuangtailiebiao:before {
  content: "\e66e";
}

.icon-xitongguanli:before {
  content: "\e60b";
}

.icon-caidanguanli:before {
  content: "\e613";
}

.icon-yonghuguanli:before {
  content: "\e65d";
}

.icon-dingshirenwu:before {
  content: "\e663";
}

.icon-sousuo:before {
  content: "\e664";
}

.icon-tianjia:before {
  content: "\e665";
}

.icon-jueseguanli:before {
  content: "\e666";
}

.icon-youxiang:before {
  content: "\e668";
}

.icon-jigouguanli:before {
  content: "\e669";
}
