<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanf.log.mapper.SysLogMapper">
    <resultMap id="sysLogMap" type="com.lanf.log.model.SysLog" autoMapping="true">
    </resultMap>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
            x1.module
            ,x1.function_name
            ,x1.class_name
            ,x1.operation_description
            ,x1.result
            ,x1.user_name
            ,x1.create_time
            ,x1.id
        
    </sql>
    <sql id="middles">
        from sys_log x1
    </sql>
    <sql id="conditions">
        <if test="vo.createTimeBegin != null and vo.createTimeBegin != ''">
              and x1.create_time &gt;= #{vo.createTimeBegin}
        </if>
        <if test="vo.createTimeEnd != null and vo.createTimeEnd != ''">
             and x1.create_time &lt;= #{vo.createTimeEnd}
        </if>
            AND 1=1 order by x1.create_time desc
    </sql>
    <select id="selectPage" resultMap="sysLogMap">
        select <include refid="columns" />
        <include refid="middles" />
        <where>
            <include refid="conditions" />
        </where>
    </select>
    <select id="queryList" resultMap="sysLogMap">
        select <include refid="columns" />
        <include refid="middles" />
        <where>
            <include refid="conditions" />
        </where>
    </select>

    <insert id="addLog" >
        INSERT INTO sys_log
            (module, function_name, class_name, operation_description, result, user_name)
        VALUES
            (#{module}, #{FunctionName}, #{ClassName}, #{OperationDescription}, #{Result}, #{UserName})
    </insert>
</mapper>