<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanf.tasks.mapper.TaskScheduledEmailMapper">
    <resultMap id="taskScheduledEmailMap" type="com.lanf.tasks.model.TaskScheduledEmail" autoMapping="true">
    </resultMap>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
            x1.task_name
            ,x1.recipient_email
            ,x1.cc_email
            ,x1.subject
            ,x1.body
            ,x1.body_type
            ,x1.attachment
            ,x1.attachment_type
            ,x1.database_name
            ,x1.scheduled_time
            ,x1.remarks
            ,x1.status
            ,x1.create_time
            ,x1.update_time
            ,x1.is_deleted
            ,x1.id
        
    </sql>
    <sql id="middles">
        from task_scheduled_email x1
    </sql>
    <sql id="conditions">
        <if test="vo.taskName != null and vo.taskName != ''">
            and x1.task_name  like '%' + #{vo.taskName}+ '%'
        </if>
        <if test="vo.recipientEmail != null and vo.recipientEmail != ''">
            and x1.recipient_email   like '%' + #{vo.recipientEmail}+ '%'
        </if>
        <if test="vo.ccEmail != null and vo.ccEmail != ''">
            and x1.cc_email   like '%' + #{vo.ccEmail}+ '%'
        </if>
        <if test="vo.databaseName != null and vo.databaseName != '' and vo.databaseName != '默认'">
            and x1.database_name = #{vo.databaseName}
        </if>
        <if test="vo.status != -1">
            and x1.status = #{vo.status}
        </if>
        <if test="vo.createTimeBegin != null and vo.createTimeBegin != ''">
              and x1.create_time &gt;= #{vo.createTimeBegin}
        </if>
        <if test="vo.createTimeEnd != null and vo.createTimeEnd != ''">
             and x1.create_time &lt;= #{vo.createTimeEnd}
        </if>
        <if test="vo.updateTimeBegin != null and vo.updateTimeBegin != ''">
             and x1.update_time &gt;= #{vo.updateTimeBegin}
        </if>
        <if test="vo.updateTimeEnd != null and vo.updateTimeEnd != ''">
             and x1.update_time &lt;= #{vo.updateTimeEnd}
        </if>
             and x1.is_deleted = 0 order by x1.create_time desc
    </sql>
    <select id="selectPage" resultType="com.lanf.tasks.vo.TaskScheduledEmailViewVo">
        select x1.id , x1.task_name ,x1.recipient_email ,x1.cc_email ,x1.subject ,x1.body ,x1.attachment
        ,CASE x1.body_type WHEN 0 THEN '文本/HTML' WHEN 1 THEN '存储过程' WHEN 2 THEN '数据表/视图' ELSE '' END body_type
        ,CASE x1.attachment_type WHEN 0 THEN '存储过程' WHEN 1 THEN '数据表/视图' ELSE '' END attachment_type
        ,x1.database_name ,x1.scheduled_time ,x1.remarks  ,x1.create_time ,x1.update_time ,x1.is_deleted
        ,CASE x1.status WHEN 0 THEN '停用' WHEN 1 THEN '正常' ELSE '' END status
        <include refid="middles" />
        <where>
            <include refid="conditions" />
        </where>
    </select>
    <select id="queryList" resultMap="taskScheduledEmailMap">
        select <include refid="columns" />
        <include refid="middles" />
        <where>
            <include refid="conditions" />
        </where>
    </select>

    <update id="removeByIds">
        UPDATE dbo.task_scheduled_email
        SET
        status = 0,
        is_deleted = 1
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>